body{
    overflow-y: auto !important;
}

*{
    font-family: 'Prompt', sans-serif;
}

.bg-rmutt{
    background:url('./Assets/images/background.jpg') rgba(0, 0, 0, 0.3);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.border-azure{
    border-color: #4299e15b !important;
}

.hover-danger:hover{
    background-color: #d63939;
    color: white !important;
    border-radius: 4px;
    box-sizing: border-box;
}
.hover-warning:hover{
    background-color: #f76707;
    color: white !important;
    border-radius: 4px;
    box-sizing: border-box;
}


.form-selectgroup-input:focus{
    outline: 0 !important;
}

@media screen and (max-width:810px) {
    .searchbar{
        width: 100% !important;
    }
}