body{
    overflow-y: auto !important;
}

*{
    font-family: 'Prompt', sans-serif;
}

.bg-rmutt{
    background:url('./Assets/images/background.jpg') rgba(0, 0, 0, 0.3);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.border-azure{
    border-color: #4299e15b !important;
}

